<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="John Kelly">
    <title>{{ title }} | Localgov Tailwind</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {% include "header.njk" %}
    <main class="leading-normal text-lg">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
