---
layout: layouts/base.njk
title: Home
---

<section>
  <div class="container px-8 pt-32 pb-16  mx-auto">
    <h1 class="mb-6 text-4xl md:text-6xl font-bold text-indigo-500">Free Tailwind Components<br><span
        class="text-gray-800">For busy Designers and Developers</span></h1>
    <p class="text-2xl text-gray-800">A collection of professionally designed, pre-built, fully responsive HTML snippets
      you can drop into your
      projects. Get started by checking out our components.</p>
    <div class="flex flex-col mt-8 sm:flex-row">
      <p><a class="inline-block px-5 py-3 mr-6 mb-6 text-white bg-indigo-600 rounded-md" href="">Download</a></p>
      <p><a class="inline-block px-5 py-3 bg-gray-200 rounded-md" href="">Get started</a></p>
    </div>
  </div>
</section>

<section class="bg-gray-100">
  <div class="container px-8 pt-16 mx-auto">
    <h2 class="text-3xl font-bold text-indigo-500">Web Components</h2>
  </div>
  <div class="container flex flex-col justify-between p-8 mx-auto sm:flex-row">
    <div class="w-1/3">
      <h3 class="text-2xl font-bold text-gray-700">Style Guide</h3>
      <ul>
        <li>Branding</li>
        <li>Typography</li>
        <li>Standard Components</li>
        <li>Supplements</li>
        <li>Standard Form Components</li>
        <li>Tables</li>
      </ul>
    </div>
    <div class="w-1/3">
      <h3 class="text-2xl font-bold text-gray-700">Page Types</h3>
      <ul>
        <li>Home Page</li>
        <li>Landing Page</li>
        <li>Document Page (1 Column)</li>
        <li>Document Page (2 Columns)</li>
        <li>Generic Listing Page</li>
        <li>Standard Widgets (100% Width)</li>
        <li>Standard Widgets (50% Width)</li>
      </ul>
    </div>
    <div class="w-1/3">
      <h3 class="text-2xl font-bold text-gray-700">Directory Pages</h3>
      <ul>
        <li>Directory Article</li>
        <li>Directory a-z</li>
        <li>Directory Record</li>
      </ul>
    </div>
  </div>
  <div class="container flex flex-col justify-between p-8 mx-auto sm:flex-row">
    <div class="w-1/3">
      <h3 class="text-2xl font-bold text-gray-700">Listing Pages</h3>
      <ul>
        <li>A to Z Listing Page</li>
        <li>Councillors Listing Page</li>
        <li>Meetings Listing Page</li>
        <li>Events Listing Page</li>
        <li>News Listing Page</li>
        <li>Search Listing Page</li>
      </ul>
    </div>
    <div class="w-1/3">
      <h3 class="text-2xl font-bold text-gray-700">Article Pages</h3>
      <ul>
        <li>Councillor Article Page</li>
        <li>Meeting Article Page</li>
        <li>Download Article Page</li>
        <li>Event Article Page</li>
        <li>News Article Page</li>
      </ul>
    </div>
    <div class="w-1/3">
      <h3 class="text-2xl font-bold text-gray-700">Miscellaneous Pages</h3>
      <ul>
        <li>Columns</li>
        <li>404</li>
        <li>Offline</li>
      </ul>
    </div>
  </div>
</section>
<script data-ad-client="ca-pub-7257401541496029" async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>