---
layout: layouts/base.njk
title: Home
---

  <section class="flex justify-center p-8 border-b-2 border-gray-200">
    <div class="max-w-xl mt-12">  
    <h2 class="text-3xl sm:text-5xl lg:text-6xl leading-none font-bold text-gray-900 tracking-tight mb-8">I'm John Kelly, a designer, and this is my personal website.</h2>
 
    <p class="max-w-4xl text-lg sm:text-2xl font-medium sm:leading-10 space-y-6 mb-6">I design websites and digital services. I aim to make things which are clear to understand and simple to use.</p>
 
    <p class="mb-4">I've been working on digital products for over 10 years.</p>
    
    <p class="mb-2">My current areas of interest include:</p>
    <ul class="leading-8 list-disc list-inside">
    <li>Service Design</li>
    <li>User Experience Design (UX)</li>
    <li>User Interface Design (UI)</li>
    <li>Web Accessibility</li>
    </ul>
    </div>
    </section>
      
    <section class="flex justify-center p-8">
      <div class="max-w-xl">
    <h3 class="text-2xl font-bold mb-4">My day job</h3>

    <p class="mb-2">I am the Customer Services Digital Team Leader at Rotherham Council.</p>
      <ul class="leading-8">
    <li><a class="text-blue-600 underline hover:text-blue-800" href="https://www.rotherham.gov.uk/">See the Rotherham Council website</a></li>
      
    <li><a class="text-blue-600 underline hover:text-blue-800" href="https://index.silktide.com/uk-councils/rotherham-metropolitan-borough-council">See our accessibility score</a></li>
    </ul>
    </div>
  </section>
