---
layout: layouts/base.njk
title: Home
---

  <section class="flex justify-center p-8 border-b-2 border-gray-200">
    <div class="max-w-xl mt-12">  
    <h2 class="text-3xl sm:text-5xl lg:text-6xl leading-none font-bold text-gray-900 tracking-tight mb-8">Beautiful UI components, crafted for Local Government using Tailwind CSS.</h2>
 
    <p class="max-w-4xl text-lg sm:text-2xl font-medium sm:leading-10 space-y-6 mb-6">Localgov Tailwind is a collection of professionally designed, pre-built, fully responsive HTML snippets you can drop into your localgov projects. Get started by checking out our components.</p>
    
    <h3 class="mb-2 text-lg font-bold">Style Guide</h3>
    <ul class="leading-8 list-disc list-inside mb-6">
    <li>Branding <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Typography <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Standard Components <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Supplements <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Standard Form Components <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Tables <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    </ul>

    <h3 class="mb-2 text-lg font-bold">Page Types</h3>
    <ul class="leading-8 list-disc list-inside mb-6">
    <li>Home Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Landing Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Document Page (1 Column) <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Document Page (2 Columns) <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Listing Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Widgets <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    </ul>

    <h3 class="mb-2 text-lg font-bold">Directory Pages</h3>
    <ul class="leading-8 list-disc list-inside mb-6">
    <li>Directory Article <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Directory A to Z <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Directory Record <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    </ul>

    <h3 class="mb-2 text-lg font-bold">Listing Pages</h3>
    <ul class="leading-8 list-disc list-inside mb-6">
    <li>A to Z Listing Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Councillors Listing Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Meetings Listing Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Events Listing Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>News Listing Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Search Listing Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    </ul>

    <h3 class="mb-2 text-lg font-bold">Article Pages</h3>
    <ul class="leading-8 list-disc list-inside mb-6">
    <li>Councillor Article Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Meeting Article Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Download Article Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Event Article Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>News Article Page <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    </ul>

    <h3 class="mb-2 text-lg font-bold">Miscellaneous Pages</h3>
    <ul class="leading-8 list-disc list-inside mb-6">
    <li>404 - Page not found <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    <li>Offline <span class="text-xs inline-flex bg-green-100 rounded-full h-6 px-3 justify-center items-center">Coming Soon</span></li>
    </ul>
    </div>
    </section>
